/*!
 * Movie Informations - Iffrig-Bourfa Dylan
 */

body {
    padding-top: 70px;
}

footer {
    margin: 50px 0;
}
h2 {
    font-size : 30px;
    margin-top : 2px;
    margin-bottom : 2px;
}
.filter_div {
    display: inline-flex;
}
.filters {
    width: auto;
}
.imgFilm {
    width: 155px;
    height: 200px;
}
.post {
    display: flex;
	padding: 0;
}
.infoFilm {
    display: -webkit-inline-box;
    display: block;
    margin-left: 10px;
}
.authorPost {
    font-size: 15px;
    margin-bottom: 5px;
}
.ReadMore {
	right: 0;
	bottom: 0;
	position: absolute;
}
.Title_Score {
	display: flex;
}
.score {
	right:0;
	position: absolute;
	font-size: 20px;
}
.categorie_label {
	left:0;
    margin-right: 110px;
	position: absolute;
	margin-left: 165px;
	bottom: 0; 
}
.separatorPost {
	margin-top: 30px;
    margin-bottom: 30px;
    border: 1px;
    border-top: 1px solid #eee;
}
.submitButton {
    margin-top: 10px;
    margin-left: 15px;
}
.tagCat {
	margin-right: 2px;
}
