<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Movie Informations project">
    <meta name="author" content="Iffrig Dylan">

    <title>Movie information project</title>

    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Core CSS -->
    <link href="{% static 'css/core.css' %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ '/' }}">Movie informations</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">

            <!-- Films Table -->
            <div class="col-md-8">
                <h1 class="page-header">
                    Section :
                    <small>{{ category }}</small>
                </h1>


				      <div id="placeholder"></div>

                            <script>
								var a = JSON.parse('{{json|safe}}');
								
								 function jsonformat(data) { 
                                 var output= "";
                                 for (var i in data.films) {
                                 output+="<div class=\"post col-md-12\"><div class=\"imgFilm\">"
                                 + "<img class=\"imgFilm\" src=" 
									+ data.films[i].img + "alt=\"\">" 
                                 + "</div>"
                    			 + "<div class=\"infoFilm\">"
                    			 + "<div class=\"Title_Score\">"
                    			 + "<h2>"
							     + "<a href=\"#\">" 
									+ data.films[i].title + "</a>"
							     + "</h2>" + "<h2 class=\"score\">" 
									+ data.films[i].score + 
									"<span class=\"glyphicon glyphicon-star\"></span></h2></div>"
							     + "<p class=\"authorPost\"> by <a href=\"#\">" 
									+ data.films[i].author + "</a></p>"
								 + "<p><span class=\"glyphicon glyphicon-time\"></span>"
									+ data.films[i].year + "</p>"
								 + "<p>"
									+ data.films[i].desc + "</p>"
								 + "<a class=\"ReadMore btn btn-primary\" href=" 
									+ data.films[i].more + ">"
								 + "Read More <span class=\"glyphicon glyphicon-chevron-right\">"
									+"</span></a><div class=\"categorie_label\">";
								
								 for (var j in data.films[i].categorie) {
									 output+="<span class=\"tagCat label label-info\">"
									 + data.films[i].categorie[j].label + "</span>";
								 }
								output +="</div></div></div>" 
								+ "<div class=\"separatorPost col-md-12\"></div>";
								 }
                                 document.getElementById("placeholder").innerHTML=output;
                                 })
								jsonformat(a);
                         </script>

				<!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">More &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <form role="form" action"." method="get">
                <div class="well">
                    <h4>Search a film</h4>
                    <div class="input-group">
                        <input type="text" name="searchField" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>
                </form>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Films Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="{{ '/' }}">All</a>
                                </li>
                                <li><a href="{{ '/action' }}">Action</a>
                                </li>
                                <li><a href="{{ '/adventure' }}">Adventure</a>
                                </li>
                                <li><a href="{{ '/animation' }}">Animation</a>
                                </li>
                                <li><a href="{{ '/comedy' }}">Comedy</a>
                                </li>
                                <li><a href="{{ '/documentary' }}">Documentary</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="{{ '/family' }}">Family</a>
                                </li>
                                <li><a href="{{ '/fantasy' }}">Fantasy</a>
                                </li>
                                <li><a href="{{ '/musical' }}">Musical</a>
                                </li>
                                <li><a href="{{ '/romance' }}">Romance</a>
                                </li>
                                <li><a href="{{ '/sciencefiction' }}">Science Fiction</a>
                                </li>
                                <li><a href="{{ '/thriller' }}">Thriller</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

               <!-- Side Widget Well -->
               <div class="well">
               <h4>Custom Search</h4>
                <form role="form" action"." method="get">
                <div class="row">
                   <div class='col-lg-6'>
                       <label>Selects</label>
                        <select name="nbOfResult" class="filters form-control">                
                         <option{% if nbOfResult == "10" %} selected="selected"{% endif %}>10</option>
                         <option{% if nbOfResult == "20" %} selected="selected"{% endif %}>20</option>
                         <option{% if nbOfResult == "50" %} selected="selected"{% endif %}>50</option>
                         <option{% if nbOfResult == "100" %} selected="selected"{% endif %}>100</option>
                        </select>
                   </div>
                   <div class='col-lg-6'>
                        <label>Filter By</label>
                        <select name="typeOfResult" class="filters form-control">                
                         <option{% if typeOfResult == "Popularity" %} selected="selected"{% endif %}>Popularity</option>
                         <option{% if typeOfResult == "Budget" %} selected="selected"{% endif %}>Budget</option>
                         <option{% if typeOfResult == "Date" %} selected="selected"{% endif %}>Date</option>
                         <option{% if typeOfResult == "Duration" %} selected="selected"{% endif %}>Duration</option>
                        </select>
                   </div>
                   <button class="submitButton btn btn-success" type="submit">submit</button>
               </div>
                </form>
           </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; CA675 - Movie Informations project</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->


    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
